{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "tests\/logs\/infection.log",
        "badge": {
            "branch": "develop"
        }
    },
    "timeout": 15
}
